.page-header {
  background: linear-gradient(
    to bottom right,
    hsl(330, 100%, 45.1%) 0%,
    hsl(331.63, 85.95%, 48.2%) 8.1%,
    hsl(331.87, 75.66%, 50.6%) 15.5%,
    hsl(330.64, 69.3%, 52.36%) 22.5%,
    hsl(327.68, 61.07%, 53.52%) 29%,
    hsl(322.3, 51.27%, 54.09%) 35.3%,
    hsl(312.88, 40.32%, 54.1%) 41.2%,
    hsl(295.33, 31.88%, 54.69%) 47.1%,
    hsl(273.23, 35.22%, 58.95%) 52.9%,
    hsl(250.76, 39.13%, 62.84%) 58.8%,
    hsl(230.21, 47.9%, 63.44%) 64.7%,
    hsl(218.34, 59.2%, 60.91%) 71%,
    hsl(211.1, 68.23%, 57.85%) 77.5%,
    hsl(206.23, 74.97%, 54.21%) 84.5%,
    hsl(202.73, 79.63%, 49.97%) 91.9%,
    hsl(200.09, 100%, 45.1%) 100%
  );
}

.header-wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  padding: 5px;
  margin: 0 auto;
  min-height: 50px;
  width: 1280px;
}

@media (max-width: 768px) {
  .header-wrapper {
    width: 768px;
  }
}

@media (max-width: 480px) {
  .header-wrapper {
    width: 480px
  }
}

.page-logo {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  padding-left: 70px;
  padding-right: 70px;
}

.header-title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding: 0;
}

.header-link {
  color: #c3f7ef;
  cursor: pointer;
}
