.navigation {
  position: sticky;
  top: 0;
  background-color: #a52e85;
  z-index: 10;
}

.navigation-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  margin: 0 auto;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  font-size: 14px;
  line-height: 18px;
  color: #e3e3e3;
}

.navigation-link:hover {
  color: #ffffff;
  font-weight: 700;
}

.navigation-link--active::before:hover {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #bee6f9;
  border-bottom: 5px solid #575fee;
}

.navigation-link--active {
  color: rgb(251, 225, 109);
  font-weight: bold;
}

.navigation-link--active:hover {
  color: rgb(250, 250, 250);
  font-weight: bold;
}
